name: Classroom Autograding

on:
  push:
    branches: [ main, master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'

    - name: Nota
      run: passed=$(grep -o "Tests run: [0-9]*, Failures: 0" target/surefire-reports/*.txt | wc -l)
        total=$(grep -o "Tests run: [0-9]*" target/surefire-reports/*.txt | wc -l)

        echo "## Test results" >> $GITHUB_STEP_SUMMARY
        echo "Tests aprovats: $passed" >> $GITHUB_STEP_SUMMARY
        echo "Tests totals: $total" >> $GITHUB_STEP_SUMMARY
