name: Classroom Autograding

on:
  push:
    branches: [ main, master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'

    - name: Run Maven tests
      run: mvn -B test --file pom.xml

    - name: Nota
      run: |
        passed=$(grep -o "Tests run: [0-9]*, Failures: 0" target/surefire-reports/*.txt | wc -l)
        total=$(grep -o "Tests run: [0-9]*" target/surefire-reports/*.txt | wc -l)

        nota=$(awk "BEGIN {printf \"%.2f\", ($passed / $total) * 10}")

        echo "## RESULTATS DE TESTOS" | tee -a $GITHUB_STEP_SUMMARY
        echo "Tests aprovats: $passed" | tee -a $GITHUB_STEP_SUMMARY
        echo "Tests totals: $total" | tee -a $GITHUB_STEP_SUMMARY
        echo "Nota sobre 10: $nota" | tee -a $GITHUB_STEP_SUMMARY

